body {
    background: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

li {
    list-style-type: none;
}

.answers-item label {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    min-width: 60px;
    text-align: center;
}

.answers-item label:hover {
    border: 2px solid #d32f2f;
    background-color: #f44336;
}

input:checked+label {
    border: 2px solid #d32f2f;
    background-color: #f44336;
    color: white;
}

label span {
    font-size: 14px;
}

.answerImg {
    width: 100%;
}

.answers-item {
    width: 80px;
}

.logo-img {
    width: 50px;
    height: 50px;
    background: url('../image/burger.png') center no-repeat;
    background-size: contain;
}

.logo-text,
.contacts,
.main-title,
.arrow {
    color: #f44336;
}

.content {
    width: 300px;
    height: 245px;
    background: url('../image/burger11.png') center no-repeat;
    background-size: cover;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #FFFFFF;
}

.btn-outline-danger {
    background-color: inherit;
    border: 1px solid #d32f2f !important;
    color: #d32f2f !important;
}

.btn-outline-danger span {
    font-size: 2rem !important;
    color: #d32f2f;
}

.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger:focus,
.btn-outline-danger:visited {
    background-color: #d32f2f !important;
    color: #d32f2f !important;
}

.btn-outline-danger:hover span,
.btn-outline-danger:active span,
.btn-outline-danger:focus span,
.btn-outline-danger:visited span {
    color: #FFFFFF !important;
}

.burger {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger span {
    width: 30px;
    height: 5px;
    display: block;
    background-color: #d32f2f;
    transition: all 0.3s;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 14px);
}

.burger.active span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, 5px);
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -9px);
}

.btn-secondary {
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
}

.btn-secondary.focus,
.btn-secondary:focus {
    color: #fff;
    background-color: #d32f2f;
    border-color: #d32f2f;
    box-shadow: none;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #d32f2f;
    border-color: #d32f2f;
}

.btn-primary {
    color: #fff;
    background-color: #d32f2f;
    border-color: #d32f2f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
}